pandas==2.3.1
numpy==2.3.2
scipy==1.16.1
scikit-learn==1.7.1
xgboost==3.0.4
matplotlib==3.10.5
seaborn==0.13.2
plotly==6.3.0
streamlit==1.49.0
sqlalchemy==2.0.43
psycopg2-binary==2.9.10
openpyxl==3.1.5
xlrd==2.0.2
python-dotenv==1.1.1
joblib==1.5.1
requests==2.32.4
streamlit-option-menu==0.4.0
streamlit-extras==0.7.7
python-dateutil==2.9.0.post0